{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<script src="/static/jquery-3.4.1.js"></script>

<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<script src="static/js/bootstrap.min.js"></script>
<script>
$(function(){
  $("#header").load("static/header.html");

});



</script>
<script type="text/javascript">
	function move() {
		var content = document.getElementsByClassName('bk truc')[0];
		document.getElementById("pouet").innerHTML = content;
	}
</script>
{{ js_resources|safe}}
{{ css_resources|safe}}

<style>
  body {
    background-image: url('/static/images/background.jpg');
    background-repeat:repeat;
    background-attachment:fixed;
    background-size:cover;
  }
  .container-fluid {
    background-color: white;
    border-radius: 25px;
  }
  </style>

<body>
<head>  <title>Graphs</title></head>

<div id="header"></div>

<body>
<div class="bk">
    <div class="container-fluid">
                      {{
                        graph1|safe
                       }}
                    {{
                        truc|safe
                    }}

    </div>
    <div id="pouet"></div>
</div>
</body>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}