{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<link rel="stylesheet" href="static/css/bootstrap.min.css">

<script src="static/js/bootstrap.min.js"></script>

<script src="/static/js/jquery-3.4.1.js"></script>

<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>

<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
<script>
  $(function(){
    $("#header").load("static/header.html");
  });
  </script>
</script>
{{ js_resources|safe}}
{{ css_resources|safe}}
<body>
<div id="header"></div>
<div class='container'>


<style>

h1 {
	margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h2 {
	margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

blockquote {
  font-style:italic;
  font-size: 90%;
  background-color: whitesmoke;
  opacity: 0.76;
  margin-left: 1rem;
  border: 0;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
  body {
  background-image: url('/static/images/background.jpg');
  background-repeat:repeat;
	background-attachment:fixed;
  background-size:cover;
}
.container {
  background-color: white;
  border-radius: 25px;

}

</style>
<head>  <title>Help</title></head>


<h1 id="linkbudget">Link Budget</h1>

<p>Flask Application (Python) using ITU-R P530 Recommandations in order to provide graphs and tables as microwave links planning tools.</p>

<p>Based on Huawei RTN and Ericsson MINI-LINK data files.</p>

<h2 id="forms">Forms</h2>

<p>To get access to the different features, different forms need to be filled in :</p>

<h4 id="linkProfile">Link Profile</h4>

<p>The link parameters are used in order to calculate the free space loss + the attenuation caused by the rain</p>

<ul>
<li>Antenna Diameter A &amp; B : Selection field to set the antenna diameter of both site. </li>

<li>Rx Antenna Elevation : Text field waiting for a float value to set the tilt angle. This value will influence the air index gradient and then provide the actual link distance</li>
<blockquote>
  <p><em>Note : Float values should be given using the format '1' or '1.1'. ',' won't be recognized</em></p>
</blockquote>

<li>Polar : Selection field to set the antenna polarization</li>

<li>Availability : Text field waiting for a float value to set the expected availability in % / year for the Capacity / Distance graph</li>

<li>Site Location : Text field waiting for an address (complete or not). A  geocode of this address is get by requesting the <a href="https://nominatim.openstreetmap.org">OpenStreetMap API</a>. Then, a approximate rainrate (mm/h for 0.01% of a year) is processed using those coordinates and the ITU-R P 837 recommandations</li>

<li>Rainrate : In case of offline using / unavailability of the OpenStreetMap API, the rainrate can be directly specified in this field</li>
</ul>

<h4 id="equipmentProfile">Equipment Profile</h4>

<p>The equipment should be specified in order to get received level thresholds that will be useful to process graphs.</p>

<p>This is a dynamic form : it consists in selection field whose choices are dynamically set according to previous selected values. Choices are then updated using the equipment database.</p>

<ul>
<li>XPIC : Not implemented yet, but need a 'Yes' or 'No' choice anyway</li>

<li>Equipment : Equipment series name</li>

<li>Frequency : Band designator</li>

<li>Modem Card (+ODU for Huawei) : Workin RF modem card name. </li>
</ul>

<blockquote>
  <p><em>Note : In the case of Huawei full outdoors equipment, the only possible choice is the equipment name itself</em></p>
  
  <ul>
  <li>Bandwidth : Working channel spacing</li>
  
  <li>Reference modulation : The working modulation that will be use for the Availability / Distance graph, in order to fix the Rx Level threshold</li>
  
  <li>Adaptative Modulation : Specify if the AM feature is activated or not
  <em>Note : In the Ericsson form, this field replace the XPIC one</em></li>
  </ul>
</blockquote>



<h3 id="scenarioProfile">Scenario Profile</h3>

<p>A scenario form must be filled in the 'Scenario' feature, in order to set those expected parameters :</p>

<ul>
<li>Capacity : Corresponding to the expected CIR (Commited Information Rate)</li>

<li>Margin : Let the possibility to set an absolute margin for the CIR and the PIR</li>

<li>PIR (optionnal) :  Permit setting a second target capacity</li>

<li>Availability PIR : Must be set if the PIR field is filled </li>

<li>Distance</li>
</ul>

<blockquote>
  <p><em>Note : The CIR availability must be set in the 'Availability' field from the Link Profile subform</em></p>
</blockquote>
<blockquote>
  Note : The margin that will be set for the PIR is based on the value set on the 'Margin' field and proportionnal to the PIR/CIR ratio. It means that PIR_MARGIN = (PIR/CIR)*CIR_MARGIN
</blockquote>

<h2 id="graphs">Graphs</h2>

<ol>
<li>Capacity / Distance </li>
</ol>

<p>Returns a graph showing the expected link capacity according to the distance. </p>

<blockquote>
  <p><em>The link capacity is calculated according to the highest modulation that can be use, relativly to it Rx threshold and the current Rx level.</em></p>
</blockquote>

<p>The Rx level / link budget is obtained calculating the following sum </p>

<blockquote>
  <p><em>Free space loss + The attenuation caused by the rain (according to the specified availability and using the equation 33 from the ITU-R P 530 recommandations) + Antenna gain (according to their diameters) + the maximum Tx Power (depending on the equipment specified)</em></p>
</blockquote>

<ol>
<li>Availability / Distance</li>
</ol>

<p>Returns a graph showing the evolution of the expected availability according to the distance, and for a specific working modulation.</p>

<p>As the modulation is fixed, a target Rx threshold is set, that can be assume as maximum acceptable attenuation. Then, by manipulating the ITU-R P 530 Eq. 33, the script get the availability that fit to this specific attenuation.</p>

<ol>
<li>Capacity / Availability</li>
</ol>

<p>Returns a graph showing the maximum expected capacity according the availability, and for a specific distance.</p>

<blockquote>
  <p>Example : <strong>{x = 99.993 % ; y = 1093 Mbps}</strong> ==> <em>It means that the link can work for 99.993 % of the time using a 1093 Mbps throughput</em></p>
  
  <p><em>Note : By clicking on the associated CheckBox in the 'Graphs' form, an additionnal text field will appear in order to set the Distance value</em>  </p>
</blockquote>

<p>For each graph that is displayed, there's a small form aside that permit updating the initial plot line ( = Refresh button) or adding a new line ( = Add line button). </p>

<p>Graphs are powered by the Bokeh Library. Uses of the graph toolbar (such as Zoom by selection, etc.) are described in the <a href="https://bokeh.pydata.org/en/latest/docs/user_guide/tools.html#built-in-tools">Bokeh User Guide</a></p>

<h2 id="scenario">Scenario</h2>

<p>The scenario feature is a tool that will suggest a list of possibilies according to the link and some target capacities (CIR and optionnaly PIR) and related availabilities. After sending the form, the application will show several tables :</p>

<ol>
<li>E-Band (1+0)</li>

<li>E-Band (XPIC 2+0) : Using XPIC (but not implemented yet, it basically just multiply by two the capacity)</li>

<li>E-Band + MW (2+0) : Suggestions of dual carrier links using a combination of an E-band link and a 18 or 23 GHz link</li>

<li>MW (1+0)</li>

<li>MW (XPIC 2+0)</li>
</ol>

<p>For single and cross-polar links, tables are designed as follows :</p>

<blockquote>
  <p>Model (Equipment+Frequency+Bandwidth+Modulation) | Total Capacity | Availability</p>
</blockquote>

<p>For E-band + MW links, tables are designed as follows :</p>

<blockquote>
  <p>E-Band Model | Microwave Model | E-Band Capacity | MW Capacity | Total Capacity | Availability (returns the smallest one)</p>
</blockquote>

<p>Note that in case of Ericsson equipment, an additionnal 'Modulation' column was necessary.
If a PIR has been set up, each row from each table can be clicked to show an additionnal row. This additionnal shows the PIR configuration, using the same format as rows corresponding to the CIR configuration.</p>

<blockquote>
  <p><em>To get to the PIR configuration, the algorithm will increase the modulation and until the PIR is reached, if possible. In the RTN 380AX product, the bandwidth could also been increased following some specific upshift rules</em></p>
</blockquote>
<div class="container">
<h2>Database&nbsp;:</h2>

<p class=MsoNormal>This <span class=SpellE>is</span> a <span class=SpellE>really</span>
<span class=SpellE>touchy</span> point. In the application, Ericsson and Huawei
are <span class=SpellE>separated</span> <span class=SpellE>because</span> <span
class=SpellE>they</span> <span class=SpellE>provided</span> data files for IQ
Link <span class=SpellE>that</span> <span class=SpellE>gives</span> <span
class=SpellE>basically</span> the <span class=SpellE>same</span> <span
class=SpellE>kind</span> of information, but in a <span class=SpellE>different</span>
<span class=SpellE>syntax</span>. </p>

<p class=MsoNormal><span class=SpellE>There&#8217;s</span> 4 <span
class=SpellE>database</span> files in <span class=SpellE>this</span>
application&nbsp;:</p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l5 level1 lfo7'><![if !supportLists]><span
style='mso-bidi-font-family:Calibri'><span style='mso-list:Ignore'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
class=SpellE><span class=GramE>db</span>_huawei.json</span> =&gt; For Huawei <span
class=SpellE>equipment</span></p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l5 level1 lfo7'><![if !supportLists]><span
style='mso-bidi-font-family:Calibri'><span style='mso-list:Ignore'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
class=SpellE><span class=GramE>db</span>_huawei_XPIC.json</span> =&gt; For
Huawei <span class=SpellE>equipment</span> <span class=SpellE>with</span>
X-Polar Discrimination info</p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l5 level1 lfo7'><![if !supportLists]><span
style='mso-bidi-font-family:Calibri'><span style='mso-list:Ignore'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
class=SpellE><span class=GramE>db</span>_ericsson.json</span> =&gt; For
Ericsson <span class=SpellE>equipment</span></p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l5 level1 lfo7'><![if !supportLists]><span
style='mso-bidi-font-family:Calibri'><span style='mso-list:Ignore'>4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
class=SpellE><span class=GramE>db</span>_ericsson_AM.json</span> =&gt; For
Ericsson <span class=SpellE>equipment</span>, <span class=SpellE>with</span>
Adaptative Modulation offset</p>

<p class=MsoNormal><span class=SpellE>Each</span> <span class=SpellE>database</span>
<span class=SpellE>contains</span> <span class=SpellE>several</span> tables, <span
class=SpellE>that</span> <span class=SpellE>we</span> can assume as <span
class=SpellE>several</span> <span class=SpellE>equipment</span>.</p>

<p class=MsoNormal>For <span class=SpellE>example</span>, in <span
class=SpellE>db_huawei_XPIC.json</span>, <span class=SpellE>there&#8217;s</span>
2 tables&nbsp;: </p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l2 level1 lfo8'><![if !supportLists]><span
style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]>&laquo;&nbsp;RTN900&nbsp;&raquo;</p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l2 level1 lfo8'><![if !supportLists]><span
style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]>&laquo;&nbsp;RTN380AX&nbsp;&raquo;</p>

<p class=MsoNormal><span class=SpellE>According</span> to the table <span
class=SpellE>name</span>, the <span class=SpellE>algorithm</span> <span
class=SpellE>will</span> <span class=SpellE>act</span> in a <span class=SpellE>specific</span>
<span class=SpellE>way</span></p>

<p class=MsoNormal><span class=SpellE>Then</span>, <span class=SpellE>importing</span>
new data <span class=SpellE>is</span> <span class=SpellE>quite</span> hard, at
least <span class=SpellE>without</span> <span class=SpellE>modifying</span> the
application <span class=SpellE>itself</span>.</p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>To <span class=SpellE>make</span> <span class=SpellE>it</span>
<span class=SpellE>work</span> <span class=SpellE>directly</span>, <span
class=SpellE>excel</span> files <span class=SpellE>that</span> are <span
class=SpellE>imported</span> <span class=SpellE>should</span> follow <span
class=SpellE>some</span> strict <span class=SpellE>rules</span>&nbsp;:</p>

<p class=MsoListParagraph style='margin-left:18.0pt;text-indent:-18.0pt;
mso-list:l8 level1 lfo9'><![if !supportLists]><span style='mso-bidi-font-family:
Calibri'><span style='mso-list:Ignore'>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]>For Ericsson :</p>

<p class=MsoListParagraph style='margin-left:0cm'>MODEL <span class=SpellE>column</span>
must <span class=SpellE>be</span> like <span class=SpellE>this</span> : </p>

<p class=MsoListParagraph align=center style='margin-left:0cm;text-align:center'><b><span
style='font-family:"Courier New";color:red'>{CARD_<span class=GramE>NAME}<span
style='color:windowtext'>/</span></span>{BANDWIDTH}</span></b><b><span
style='font-family:"Courier New"'>/<span style='color:red'>{SUBCARD}</span></span></b></p>

<p class=MsoListParagraph style='margin-left:0cm'>BANDWIDTH must <span
class=SpellE>be</span> a simple <span class=SpellE>integer</span> value. </p>

<p class=MsoListParagraph style='margin-left:0cm'>The <span class=SpellE>subcard</span>
value <span class=SpellE>is</span> not important if <span class=SpellE>you</span>
are <span class=SpellE>importing</span> <span class=SpellE>it</span> to
Ericsson <span class=SpellE>static</span> modulation <span class=SpellE>database</span>.</p>

<p class=MsoListParagraph style='margin-left:0cm'>If <span class=SpellE>you&#8217;re</span>
<span class=SpellE>using</span> <b>Ericsson AM <span class=SpellE>database</span></b>,
the <span class=SpellE>subcard</span> value <span class=SpellE>should</span> <span
class=SpellE>be</span> like <span class=SpellE>this</span>&nbsp;:</p>

<p class=MsoListParagraph style='margin-left:141.6pt;text-indent:35.4pt'><b><span
style='font-family:"Courier New"'>B<span style='color:red'>{SUBCARD}<o:p></o:p></span></span></b></p>

<p class=MsoNormal><b><span style='font-family:"Courier New"'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraph style='margin-left:18.0pt;text-indent:-18.0pt;
mso-list:l8 level1 lfo9'><![if !supportLists]><span style='mso-bidi-font-family:
Calibri'><span style='mso-list:Ignore'>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]>For Huawei <b>: (ONLY USE <span class=SpellE>db_<span
class=GramE>huawei.json</span></span>)</b></p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l1 level1 lfo10'><![if !supportLists]><span
style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>&times;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]>If the <span class=SpellE>equipment</span> <span
class=SpellE>is</span> <b>RTN900</b>, <span class=SpellE>syntax</span> <span
class=SpellE>is</span>&nbsp;: </p>

<p class=MsoListParagraph align=center style='text-align:center'><b><span
style='font-family:"Courier New";color:red'>{FREQUENCY}</span></b><b><span
style='font-family:"Courier New"'>G<span style='color:red'>{BANDWIDTH}</span>M<span
style='color:red'>{MODULATION}</span>QAM_<span style='color:red'>{CARD}</span></span></b></p>

<p class=MsoNormal style='margin-left:18.0pt'>=&gt; Example :
13G7M32QAM_ISM6XMC5D</p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l1 level1 lfo10'><![if !supportLists]><span
style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>&times;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span class=SpellE>Else</span> <b>(by default)</b>,
the <span class=SpellE>syntax</span> <span class=SpellE>is</span> : </p>

<p class=MsoNormal align=center style='margin-left:18.0pt;text-align:center'><b><span
style='color:red'>{CARD}</span><span style='color:black'>_</span><span
style='color:red'>{FREQUENCY}</span><span style='color:black'>G_</span><span
style='color:red'>{BANDWIDTH}</span><span style='color:black'>M_</span><span
style='color:red'>{MODULATION}</span><span style='color:black'>QAM</span></b></p>

<p class=MsoNormal style='margin-left:18.0pt'>=&gt; Example :
RTN380AX_80G_62.5M_128QAM</p>

<p class=MsoNormal>But, if the new RTN980 data file has a <span class=SpellE>syntax</span>
close to <span class=GramE>the<span style='mso-spacerun:yes'>&nbsp;
</span>default</span> <span class=SpellE>syntax</span>, <span class=SpellE>you</span>
<span class=SpellE>should</span> <span class=SpellE>better</span> <span
class=SpellE>add</span> a new <span class=SpellE>equipment</span> in the <span
class=SpellE>database</span> (=&nbsp;&#8216;RTN980&#8217; for <span
class=SpellE>example</span>) <span class=SpellE>instead</span> of <span
class=SpellE>importing</span> <span class=SpellE>those</span> data in the
RTN900 table.<span style='mso-spacerun:yes'>&nbsp; </span></p>

<p class=MsoNormal>In <span class=SpellE>any</span> case, the <span
class=SpellE>easiest</span> <span class=SpellE>way</span> to import new Huawei <span
class=SpellE>equipment</span> <span class=SpellE>is</span> to <span
class=SpellE>create</span> a new table and import a data table <span
class=SpellE>that</span> fit to the default <span class=SpellE>syntax</span>.</p>

<h3>Import and manage data</h3>

<p class=MsoNormal>To help <span class=SpellE>you</span> in data imports, a
section has been <span class=SpellE>added</span> in the web application. </p>

<p class=MsoNormal><span class=SpellE>There&#8217;s</span> <span class=SpellE>two</span>
pages&nbsp;: </p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l6 level1 lfo11'><![if !supportLists]><span
style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]>Import (<a
href="https://imtatlantiquefr-my.sharepoint.com/personal/nathan_decaux_imt-atlantique_net/Documents/10.95.142.210&nbsp;:5000/upload">10.95.142.210&nbsp;:5000/<span
class=SpellE>upload</span></a>)&nbsp;</p>

<p class=MsoNormal>This page permit <span class=SpellE>uploading</span> an <span
class=SpellE>excel</span> file and import <span class=SpellE>it</span> in a <span
class=SpellE>specific</span> <span class=SpellE>database</span>. </p>

<p class=MsoNormal>You can <span class=SpellE>choose</span> a new <span
class=SpellE>name</span> to <span class=SpellE>create</span> a new <span
class=SpellE>equipment</span> or use an <span class=SpellE>existing</span> one
to insert <span class=SpellE>those</span> new values. I <span class=SpellE>recommand</span>
to <span class=SpellE>create</span> a new <span class=SpellE>equipment</span>
to <span class=SpellE>keep</span> <span class=SpellE>it</span> <span
class=SpellE>clear</span>.</p>

<p class=MsoNormal><span class=SpellE>Then</span> <span class=SpellE>you</span>
can <span class=SpellE>choose</span> <span class=SpellE>between</span> <span
class=SpellE>those</span> 3 <span class=SpellE>databases</span>&nbsp;:</p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l9 level1 lfo12'><![if !supportLists]><span
style='mso-bidi-font-family:Calibri'><span style='mso-list:Ignore'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>&laquo;&nbsp;Huawei&nbsp;<span
class=GramE>&raquo;&nbsp;,</span> <span class=SpellE>which</span> <span
class=SpellE>is</span> the <span class=SpellE>huawei</span> <span class=SpellE>database</span>
<span class=SpellE>without</span> XPIC information</p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l9 level1 lfo12'><![if !supportLists]><span
style='mso-bidi-font-family:Calibri'><span style='mso-list:Ignore'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
style='mso-spacerun:yes'>&nbsp;</span>&laquo;&nbsp;Ericsson&nbsp;&raquo;, <span
class=SpellE>which</span> <span class=SpellE>is</span> the Ericsson <span
class=SpellE>database</span> <span class=SpellE>without</span> Adaptive Modulation</p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l9 level1 lfo12'><![if !supportLists]><span
style='mso-bidi-font-family:Calibri'><span style='mso-list:Ignore'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]>&laquo;&nbsp;Ericsson
AM&nbsp;&raquo;, <span class=SpellE>which</span> <span class=SpellE>is</span>
the Ericsson <span class=SpellE><span class=GramE>database</span></span><span
class=GramE> <span style='mso-spacerun:yes'>&nbsp;</span><span class=SpellE>with</span></span>
Adaptative Modulation</p>

<p class=MsoNormal><span class=SpellE>Then</span>, <span class=SpellE>you</span>
can <span class=SpellE>submit</span> the file. The <span class=SpellE>algorithm</span>
<span class=SpellE>is</span> <span class=SpellE>supposed</span> to <span
class=SpellE>detected</span> <span class=SpellE>really</span> <span
class=SpellE>quickly</span> <span class=SpellE>any</span> <span class=SpellE>kind</span>
of <span class=SpellE>problem</span> (<span class=SpellE>syntax</span> <span
class=SpellE>verification</span>, <span class=SpellE>empty</span> <span
class=SpellE>name</span>, etc..), <span class=SpellE>so</span> <span
class=SpellE>you&#8217;ll</span> <span class=SpellE>be</span> <span
class=SpellE>quickly</span> <span class=SpellE>noticed</span> of <span
class=SpellE>any</span> <span class=SpellE>error</span>. <span class=SpellE>Then</span>,
if <span class=SpellE>everything</span> <span class=SpellE>is</span> ok, the
import can <span class=SpellE>take</span> a long time (about <span
class=SpellE>several</span> minutes), but <span class=SpellE>don&#8217;t</span>
<span class=SpellE>worry</span> about <span class=SpellE>this</span>. </p>

<p class=MsoListParagraph style='text-indent:-18.0pt;mso-list:l6 level1 lfo11'><![if !supportLists]><span
style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'><span style='mso-list:Ignore'>&middot;<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]>Manage (<a
href="https://imtatlantiquefr-my.sharepoint.com/personal/nathan_decaux_imt-atlantique_net/Documents/10.95.142.210&nbsp;:5000/manage">10.95.142.210&nbsp;:5000/manage</a>)&nbsp;</p>

<p class=MsoNormal>The manage section <span class=SpellE>is</span> <span
class=SpellE>used</span> to do <span class=SpellE>some</span> actions for <span
class=SpellE>database</span> <span class=SpellE>stuff</span>. </p>

<p class=MsoListParagraph style='margin-left:72.0pt;text-indent:-18.0pt;
mso-list:l6 level2 lfo11'><![if !supportLists]><span style='font-family:"Courier New";
mso-fareast-font-family:"Courier New"'><span style='mso-list:Ignore'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><![endif]>Save&nbsp;:
This <span class=SpellE>will</span> <span class=SpellE>save</span> the <span
class=SpellE>current</span> <span class=SpellE>database</span></p>

<p class=MsoListParagraph style='margin-left:72.0pt;text-indent:-18.0pt;
mso-list:l6 level2 lfo11'><![if !supportLists]><span style='font-family:"Courier New";
mso-fareast-font-family:"Courier New"'><span style='mso-list:Ignore'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><![endif]>Restore&nbsp;:
This <span class=SpellE>will</span> <span class=SpellE>reload</span> the last <span
class=SpellE>saved</span> <span class=SpellE>database</span></p>

<p class=MsoListParagraph style='margin-left:72.0pt;text-indent:-18.0pt;
mso-list:l6 level2 lfo11'><![if !supportLists]><span style='font-family:"Courier New";
mso-fareast-font-family:"Courier New"'><span style='mso-list:Ignore'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></span><![endif]><span
class=SpellE>Reinitialise</span>&nbsp;: This <span class=SpellE>will</span> <span
class=SpellE>load</span> the <span class=SpellE>very</span> first clean <span
class=SpellE>database</span> <span style='mso-spacerun:yes'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:0cm'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='page-break-before:always;mso-hyphenate:auto'><o:p>&nbsp;</o:p></p>
</div>


</div>
</body>
{% endblock %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}