{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}


<script src="/static/js/jquery-3.4.1.js"></script>
     <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>

<link rel="stylesheet" href="static/css/bootstrap.min.css">

<script src="static/js/bootstrap.min.js"></script>
<script>
$(function(){
  $("#header").load("static/header.html");
});
</script>
<style>
    body {
      background-image: url('/static/images/background.jpg');
      background-repeat:repeat;
        background-attachment:fixed;
      background-size:cover;
    }
    .container {
      background-color: white;
      border-radius: 25px;
    }

    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 85%;
  text-align: center;

}
    </style>
<body>
  <title>Link Budget - Home</title>

<div id="header"></div>

<div class="container">
    <ul class="list-group list-group-flush ">
        <h4>Ericsson</h4>
        <li class="list-group-item "><a class="nav-item" href="/ericsson">Graphs</a></li>
        <li class="list-group-item"><a class="nav-item" href="/scenarioe">Scenario</a></li>
    </ul>

</br>

    <ul class="list-group list-group-flush">
        <h4>Huawei</h4>
         <li class="list-group-item "> <a class="nav-item" href="/huawei">Graphs</a></li>
         <li class="list-group-item"> <a class="nav-item" href="/scenario">Scenario</a></li>
    </ul>
</br>
<ul class="list-group list-group-flush">
<li class="list-group-item">
    <a class="nav-item" href="/help" role="button">Help</a>
</li>
</ul>
</div>
<div class="footer">
    <p><a  style="color:white" href="https://github.com/nathandecaux/">Author: Nathan Decaux</a></p>
  </div>
</body>
</html>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}