{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
     <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
<div class="container">
  <h1>LinkBudget</h1>

  <pouet>
  {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})
  }}
    </pouet>


<script>
  $("#ep-cb0").change(function()
    {
    $xpic = $('#ep-cb0').val();
    Sijax.request('cb0',[$xpic]);});

  $("#ep-cb1").change(function()
    {
    $equi = $('#ep-cb1').val();
    Sijax.request('cb1',[$xpic,$equi]);});

  $("#ep-fe").change(function()
    {
    $freq = $('#ep-fe').val();
    Sijax.request('fe',[$xpic,$equi,$freq]);});

  $("#ep-carde").change(function()
    {
    $card = $('#ep-carde').val();
    Sijax.request('carde',[$xpic,$equi,$freq,$card]);});

  $("#ep-cpe").change(function()
    {
    $bandw = $('#ep-cpe').val();
    Sijax.request('cpe',[$xpic,$equi,$freq,$card,$bandw]);});



</script>

</div>


{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}