{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}

<head> <title>Link Budget</title></head>
<script src="/static/js/jquery-3.4.1.js"></script>
     <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
<script>
    $( document ).ready(function() {
    $("#lp-ele").attr('required', 'required');
    $("#lp-p_entry").attr('required', 'required')
    $("#mf-dist").css('display', 'none');
    $("label[for='mf-dist']").css('display','none')
    if ($("#sp-am").val() == '0')
        {
          $("#sp-peak").val("");
          $("#sp-avaiPIR").val("");
          $("#sp-peak").css('display', 'none');
          $("label[for='sp-peak']").css('display','none')
          $("#sp-avaiPIR").css('display', 'none');
          $("label[for='sp-avaiPIR']").css('display','none')
        }
    if (($("#ep-cb0").val() == "Yes") || ($("#ep-cb0").val()) == "No" )
    {
        $xpic = $('#ep-cb0').val();
        Sijax.request('cb0',[$xpic]);
    }

});
</script>
<style>
body {
  background-image: url('/static/images/background.jpg');
  background-repeat:repeat;
	background-attachment:fixed;
  background-size:cover;
}
.container {
  background-color: white;
  border-radius: 25px;
}
</style>
<link rel="stylesheet" href="static/css/bootstrap.min.css">

<script src="static/js/bootstrap.min.js"></script>
<script>
$(function(){
  $("#header").load("static/header.html");
});
</script>
<script>
function action()
{
}

</script>
<div id="header"></div>

<body>
<div class="container">
    {{util.flashed_messages(dismissible=True)}}

  <pouet>
  {{
      wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})
  }}
    </pouet>
<script>
  $("#ep-cb0").click(function()
    {
    $xpic = $('#ep-cb0').val();
    Sijax.request('cb0',[$xpic]);});

    $("#mf-modp").click(function()
   {
    if ($("#mf-modp").is(':checked'))
        {
            $("#lp-p_entry").attr('required', 'required');
        }
    else
    {
          $("#lp-p_entry").removeAttr('required');
    }
   });

   $("#mf-rainp").click(function()
   {
    if ($("#mf-rainp").is(':checked'))
        {
            $("#mf-dist").css('display', '');
            $("#mf-dist").attr('required', 'required');
            $("label[for='mf-dist']").css('display','')
        }
    else
    {
          $("#mf-dist").removeAttr('required');
          $("#mf-dist").css('display', 'none');
          $("label[for='mf-dist']").css('display','none')
    }
   });
  
   $("#sp-am").change(function()
    {
      if ($("#sp-am").val() == '1')
        {
          $("#sp-peak").css('display', '');
          $("label[for='sp-peak']").css('display','')
          $("#sp-avaiPIR").css('display', '');
          $("label[for='sp-avaiPIR']").css('display','')
        }
      else
      {
        $("#sp-peak").val("");
        $("#sp-avaiPIR").val("");
        $("#sp-peak").css('display', 'none');
        $("label[for='sp-peak']").css('display','none')
        $("#sp-avaiPIR").css('display', 'none');
        $("label[for='sp-avaiPIR']").css('display','none')
      }
    });
  $("#ep-cb1").change(function()
    {
    $equi = $('#ep-cb1').val();
    Sijax.request('cb1',[$xpic,$equi]);});

  $("#ep-fe").change(function()
    {
    $freq = $('#ep-fe').val();
    Sijax.request('fe',[$xpic,$equi,$freq]);});

  $("#ep-carde").change(function()
    {
    $card = $('#ep-carde').val();
    Sijax.request('carde',[$xpic,$equi,$freq,$card]);});

  $("#ep-cpe").change(function()
    {
    $bandw = $('#ep-cpe').val();
    Sijax.request('cpe',[$xpic,$equi,$freq,$card,$bandw]);});

  $("#lp-rre").focus(function() {
        $("#lp-rre").removeAttr('readonly');
        $("#lp-xe").attr('value', '');
        $("#lp-xe").attr('readonly', 'readonly');
    });

  $("#lp-xe").focus(function() {
            $("#lp-xe").removeAttr('readonly');
            $("#lp-rre").removeAttr('value');
            $("#lp-rre").attr('readonly', 'readonly');
        });


  $("#submit_button").mouseenter(function() {
        if (($("#lp-xe").val() == "") && ($("#lp-rre").val()) == "" )
        {
            alert("Please enter the location or the rainrate");
        }

        if ($("#ep-ref_mod").val() == "0" && $("#mf-availp").is(':checked')) 
        {
            alert("Please choose a reference modulation if you wish to get 'Availability / Distance' graph");
        }
    });




</script>

</div>
</body>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}