{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
<script src="/static/js/jquery-3.4.1.js"></script>

<script>
$(function(){
  $("#header").load("static/header.html");
});
</script>
<link href="/static/css/datatables.min.css" rel="stylesheet">

<script defer src="/static/js/datatables.min.js"></script>


<script defer>
    $(document).ready(function() {
    $('#pouet').DataTable({"ordering": false,"filtering": false});
    $('#pouet2').DataTable({"ordering": false,"filtering": false});
    $('#pouet3').DataTable({"ordering": false,"filtering": false});
    $('#pouet4').DataTable({"ordering": false,"filtering": false});
    $('#pouet5').DataTable({"ordering": false,"filtering": false});

     $('#pouet').on('click', 'tr', function ()
    {
        next = $(this).attr('id')+'p';
        if ($('#'+next).css('display')=='none')
        {
            $('#'+next).css('display','');
        }

        else
        {
            $('#'+next).css('display','none')
        }
    });

     $('#pouet2').on('click', 'tr', function ()
    {
        next = $(this).attr('id')+'p';
        if ($('#'+next).css('display')=='none')
        {
            $('#'+next).css('display','');
        }

        else
        {
            $('#'+next).css('display','none')
        }
    });

     $('#pouet3').on('click', 'tr', function ()
    {
        next = $(this).attr('id')+'p';
        if ($('#'+next).css('display')=='none')
        {
            $('#'+next).css('display','');
        }

        else
        {
            $('#'+next).css('display','none')
        }
    });

     $('#pouet4').on('click', 'tr', function ()
    {
        next = $(this).attr('id')+'p';
        if ($('#'+next).css('display')=='none')
        {
            $('#'+next).css('display','');
        }

        else
        {
            $('#'+next).css('display','none')
        }
    });

     $('#pouet5').on('click', 'tr', function ()
    {
        next = $(this).attr('id')+'p';
        if ($('#'+next).css('display')=='none')
        {
            $('#'+next).css('display','');
        }

        else
        {
            $('#'+next).css('display','none')
        }
    });


} );
</script>
<style>
  body {
    background-image: url('/static/images/background.jpg');
    background-repeat:repeat;
    background-attachment:fixed;
    background-size:cover;
  }
 
  
  </style>

<body>
  <title>Scenario table</title>

<div id="header"></div>

<div class ='container'>
    <h1>LinkBudget</h1>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="heading1">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  E-Band (1+0)
                </button>
              </h5>
            </div>
            <div id="collapse1" class="collapse show responsive" aria-labelledby="heading1" data-parent="#accordionExample">
                <div class="card-body table-responsive">
                      {{
                        table|safe
                      }}
                </div>
            </div>
        </div>


     <div class="card">
            <div class="card-header" id="heading2">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  E-Band (XPIC 2+0)
                </button>
              </h5>
            </div>

            <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordionExample">
                <div class="card-body table-responsive">
                  {{
                    ex_tab|safe
                  }}
                </div>
            </div>
        </div>

         <div class="card">
            <div class="card-header" id="heading3">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  E-Band + MW (2+0)
                </button>
              </h5>
            </div>

            <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body table-responsive">
                  {{
                    e_mw_tab|safe
                  }}
                </div>
            </div>
        </div>

         <div class="card">
            <div class="card-header" id="heading4">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                  MW (1+0)
                </button>
              </h5>
            </div>

            <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body table-responsive">
                  {{
                    mw_stab|safe
                  }}
                </div>
            </div>
        </div>

         <div class="card">
            <div class="card-header" id="heading5">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                  MW (XPIC 2+0)
                </button>
              </h5>
            </div>

            <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordionExample">
                <div class="card-body table-responsive">
                  {{
                    mw_xtab|safe
                  }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}