{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<div class ='container'>
    <h1>LinkBudget</h1>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="heading1">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  E-Band (1+0)
                </button>
              </h5>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
                <div class="card-body">
                  {{
                    table|safe
                  }}
                </div>
            </div>
        </div>


     <div class="card">
            <div class="card-header" id="heading2">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  E-Band (XPIC 2+0)
                </button>
              </h5>
            </div>

            <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordionExample">
                <div class="card-body">
                  {{
                    ex_tab|safe
                  }}
                </div>
            </div>
        </div>

         <div class="card">
            <div class="card-header" id="heading3">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  E-Band + MW (2+0)
                </button>
              </h5>
            </div>

            <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body">
                  {{
                    e_mw_tab|safe
                  }}
                </div>
            </div>
        </div>

         <div class="card">
            <div class="card-header" id="heading4">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                  MW (1+0)
                </button>
              </h5>
            </div>

            <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body">
                  {{
                    mw_stab|safe
                  }}
                </div>
            </div>
        </div>

         <div class="card">
            <div class="card-header" id="heading5">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                  MW (XPIC 2+0)
                </button>
              </h5>
            </div>

            <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordionExample">
                <div class="card-body">
                  {{
                    mw_xtab|safe
                  }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}