{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}

<head> <title>Link Budget</title></head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
<script>
    $( document ).ready(function() {
    $("#lp-ele").attr('required', 'required');
    $("#lp-p_entry").attr('required', 'required')
    $("#mf-dist").css('display', 'none');
    $("label[for='mf-dist']").css('display','none')


    if (($("#ep-cb0").val() == "Yes") || ($("#ep-cb0").val()) == "No" )
    {
        $xpic = $('#ep-cb0').val();
        Sijax.request('cb0',[$xpic]);
    }

});
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$(function(){
  $("#header").load("static/header.html");
});
</script>
<script>
function action()
{
}

</script>
<div id="header"></div>


<div class="container">
  <pouet>
  {{
      wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})
  }}
    </pouet>
<script>
  $("#ep-cb0").click(function()
    {
    $xpic = $('#ep-cb0').val();
    Sijax.request('cb0',[$xpic]);});

   $("#mf-rainp").click(function()
   {
    if ($("#mf-rainp").is(':checked'))
        {
            $("#mf-dist").css('display', '');
            $("#mf-dist").attr('required', 'required');
            $("label[for='mf-dist']").css('display','')
        }
    else
    {
          $("#mf-dist").removeAttr('required');
          $("#mf-dist").css('display', 'none');
          $("label[for='mf-dist']").css('display','none')
    }
   });

  $("#ep-cb1").change(function()
    {
    $equi = $('#ep-cb1').val();
    Sijax.request('cb1',[$xpic,$equi]);});

  $("#ep-fe").change(function()
    {
    $freq = $('#ep-fe').val();
    Sijax.request('fe',[$xpic,$equi,$freq]);});

  $("#ep-carde").change(function()
    {
    $card = $('#ep-carde').val();
    Sijax.request('carde',[$xpic,$equi,$freq,$card]);});

  $("#ep-cpe").change(function()
    {
    $bandw = $('#ep-cpe').val();
    Sijax.request('cpe',[$xpic,$equi,$freq,$card,$bandw]);});

  $("#lp-rre").focus(function() {
        $("#lp-rre").removeAttr('readonly');
        $("#lp-xe").attr('value', '');
        $("#lp-xe").attr('readonly', 'readonly');
    });

  $("#lp-xe").focus(function() {
            $("#lp-xe").removeAttr('readonly');
            $("#lp-rre").removeAttr('value');
            $("#lp-rre").attr('readonly', 'readonly');
        });


  $("#submit_button").mouseenter(function() {
        if (($("#lp-xe").val() == "") && ($("#lp-rre").val()) == "" )
        {
            alert("Please enter the location or the rainrate")
        }
    });




</script>

</div>


{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}